<header class="header">
  <div class="container"> 
    <div class="header_cont"> 
      <a class="header_cont_logo" href="{{ site.url }}/" >
        <!-- <img src="{{ site.url }}{{ site.data.header.logo }}" /> -->
        Website Logo
      </a> 
      <div class="header_cont_nav">
        <ul class="header_cont_nav_list">
          {% for nav in site.data.menus.main %}
            <li class="header_cont_nav_list_items" > 
              <a class="header_cont_nav_list_items_link"
              href="{{ nav.url }}"> {{ nav.title }}</a> 
            </li>
          {% endfor %}
        </ul> 
        <a class="general-button" href="{{ site.data.header.butoon-href }}">Get Started</a>
      </div>
      <div class="menu-button">
          <img src="{{ site.url }}/assets/img/arrow.svg" alt="arrow" > 
      </div>
    </div> 
  </div>
</header>