.empty{
  width: 100%;
  height: 452px;
  display: block;
  background-color: $background-white;
  @include xs {
    height: 400px;
  }
  @include xs {
    height: 340px;
  }
}
.video{
    display: flex;
    flex-direction: column;
    background-color: $background-red;
    position: relative;
    padding: 280px 0 210px;
      @include sm {
        padding: 160px 0 45px;
      }
      @include xs {
        padding: 125px 0 45px;
      }
    &_block{
        width: 100%;
        max-width: 850px;
        height: 480px;
        display: flex;
        top: 0;
        left: 50%;
        flex-direction: column;
        position: absolute;
        transform: translate(-50%, -50%);
        background: $background-dark;
        @include md {
            max-width: calc(100% - 30px);
        }
        @include sm {
            height: 240px;
        }
        @include xs {
            height: 170px;
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &_cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include sm {
            flex-direction: column;
        }
        &_left{
            margin: 40px 0 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 470px;
            @include sm {
                max-width: 100%;
            }
            h6{
                font-family: $font-inter;
                font-style: normal;
                font-weight: 800;
                font-size: 18px;
                line-height: 18px; 
                display: flex;
                align-items: center;
                letter-spacing: 0.05em; 
                color: $color-dark2;
                margin: 0;
                @include sm {
                    font-size: 18px;
                    line-height: 22px; 
                    color: #000000;
                    margin: 0 0 10px;
                }
            }
            h2{
                font-family: $font-inter;
                font-style: normal;
                font-weight: 800;
                font-size: 64px;
                line-height: 64px; 
                color: $color-black;
                margin: 0;
                @include sm {
                    ont-weight: 800;
                    font-size: 36px;
                    line-height: 36px; 
                }
            }
        }
    }
    &_play{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translate(-50%, -50%);
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.accordion{
    margin: 40px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    &_cont{
        display: flex;
        flex-direction: column;
    }
    &_item{
        display: flex;
        flex-direction: column;
        margin: 0 0;
        position: relative;
        &_title{
            position: relative;
            padding: 18px 40px 18px 0;
            font-family: $font-karla;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px; 
            color: #000000;
            margin: 0;
            cursor: pointer;
            @include sm {
                font-size: 18px;
                line-height: 20px;
            }
            &:before{
                content: '+';
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translate(0, -50%);
                z-index: 9;
                color: #000000;
                font-size: 20px;
                transition: 0.3s all;
            }
            &.active-header{
                &:before{
                    content: '-';
                }
            }
        }
        &_content{
            padding: 0 0 18px 0;
            font-family: $font-karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px; 
            color: $color-dark;
            border-bottom: 1px solid $color-dark2;
            margin: 0;
            display: none;
            width: 100%!important;
            box-sizing: border-box;
            @include sm {
                font-size: 16px;
                line-height: 18px; 
            }
        }
    }
    
}